---
layout: layouts/solution.njk
solutionKey: tprs-wizardglass
title: TPRS Wizardglass
description: TPRS Wizardglass redefines space with smart electrochromic technology that shifts from transparent to opaque at the touch of a button.
extraCss:
  - /assets/css/pages/inner-page.css
extraJs:
  - /assets/js/carousel.js
---
