---
layout: layouts/industry.njk
industryKey: architecture
title: Architecture
description: TPRS offers a diverse range of architectural glass solutions renowned for their superior performance, aesthetic and superior performance.
extraCss:
  - /assets/css/pages/inner-page.css
extraJs:
  - /assets/js/carousel.js
  - /assets/js/counters.js
---
