---
layout: layouts/post.njk
postSlug: inspiring-the-next-generation-an-industrial-visit-of-students-from-m-o-p-vaishnav-college-for-women
title: "Inspiring the Next Generation: An Industrial Visit of Students from M.O.P. Vaishnav College for Women"
description: "TPRS Glass recently hosted an immersive facility visit for students from M.O.P. Vaishnav College for Women, Chennai, bridging classroom theory with real-world glass manufacturing."
extraCss:
  - /assets/css/pages/inner-page.css
  - /assets/css/pages/blog.css
---
