---
layout: layouts/industry.njk
industryKey: engineered-glass
title: Engineered Glass
description: TPRS Glass delivers advanced, durable glass solutions engineered for industrial and residential engineering applications. Our specialized glass products are
extraCss:
  - /assets/css/pages/inner-page.css
extraJs:
  - /assets/js/carousel.js
  - /assets/js/counters.js
---
