---
layout: layouts/post.njk
postSlug: glass-bulletin-awards
title: "TPRS Wins the Leading Glass Processor Award at the Glass Bulletin Awards"
description: "TPRS has been honored with the prestigious Leading Glass Processor Award at the national Glass Bulletin Awards, recognizing our dedication to innovation and exceptional glass solutions."
extraCss:
  - /assets/css/pages/inner-page.css
  - /assets/css/pages/blog.css
---
