---
layout: layouts/post.njk
postSlug: tprs-glass-at-bauma-conexpo-india-2026
title: "TPRS Glass at bauma Conexpo India 2026"
description: "Engineered for Performance. Built for Demanding Applications. Join TPRS Glass at bauma CONEXPO INDIA 2026 and discover high-performance glass solutions engineered for the demanding requirements of construction, earthmoving, and heavy equipment."
extraCss:
  - /assets/css/pages/inner-page.css
  - /assets/css/pages/blog.css
---
