---
layout: layouts/industry.njk
industryKey: white-goods
title: White Goods
description: TPRS Glass provides innovative glass solutions for the White Goods industry, catering to appliances including Refrigeration Equipment, Stoves, Ovens, and
extraCss:
  - /assets/css/pages/inner-page.css
extraJs:
  - /assets/js/carousel.js
  - /assets/js/counters.js
---
