---
layout: layouts/post.njk
postSlug: types-of-elevators
title: "Types of Elevators: Glass Requirements for Every System"
description: "Modern buildings use many types of elevators and each elevator category has unique cabin needs like speed, load, etc., which influence the choice of glass."
extraCss:
  - /assets/css/pages/inner-page.css
  - /assets/css/pages/blog.css
---
