---
layout: layouts/solution.njk
solutionKey: tprs-innovink
title: TPRS Innovink
description: TPRS Innovink turns glass into a medium of expression by combining decorative design and functional performance.
extraCss:
  - /assets/css/pages/inner-page.css
extraJs:
  - /assets/js/carousel.js
---
