---
layout: layouts/solution.njk
solutionKey: tprs-lamisafe
title: TPRS Lamisafe
description: Discover the advantages of laminated glass for enhanced safety, sound insulation, and UV protection. Learn how laminated glass works and where to use it best.
extraCss:
  - /assets/css/pages/inner-page.css
extraJs:
  - /assets/js/carousel.js
---
