---
layout: layouts/solution.njk
solutionKey: tprs-winsafe
title: TPRS Winsafe
description: TPRS Winsafe frames are built with a robust aluminum profile, ensuring both strength and a sleek appearance.
extraCss:
  - /assets/css/pages/inner-page.css
extraJs:
  - /assets/js/carousel.js
---
