{% macro bgImageSet(image) %}{% set imgType = 'image/png' if '.png' in image else 'image/jpeg' %}background-image: url('{{ image }}'); background-image: -webkit-image-set(url('{{ image | webp }}') type('image/webp'), url('{{ image }}') type('{{ imgType }}')); background-image: image-set(url('{{ image | webp }}') type('image/webp'), url('{{ image }}') type('{{ imgType }}'));{% endmacro %}
