---
layout: layouts/solution.njk
solutionKey: tprs-tuffsafe
title: TPRS Tuffsafe
description: TPRS Tuffsafe is a range of thermally treated glass created to provide enhanced strength and safety for a broad spectrum of use cases.
extraCss:
  - /assets/css/pages/inner-page.css
extraJs:
  - /assets/js/carousel.js
---
